@import "../../node_modules/bootstrap/scss/bootstrap";
@import "main_mixins";
@import "fonts";
@import "null";

$bg-nav-color: #fefcff;
$border-color: lightgrey;
$border-bottom-orange: orange;

$header-height: 170;
$header-height-mob: 60;
$menuLeft-height: 85;
$menuLeft-height-mob: 60;
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: 'CenturyGothic';
}

.page-wrapper {
  max-width: 100vw;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: inherit;
}

header {
  position: fixed;
  z-index: 50;
    .navbar-head {
      position: fixed;
      left: 300px;
      top: 0;
      display: flex;
      width: calc(100% - 300px);
      align-items: center;
      justify-content: space-between;
      background-color: $bg-nav-color;
      height: 85px;
      border-left: 1px solid $border-color;

      @include mobile-all() {
        justify-content: space-around;
        height: 60px;
        left: 60vw;
        width: 40vw;
        border-left: none;
      }
    &__menu {
      margin-left: 0;
      @media (max-width: 800px) {
        display: none;
      }

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 0;
        padding-left: 0;
        li {
          list-style-type: none;

            a {
              color: black;
              text-decoration: none;
              text-transform: uppercase;
              font-weight: 600;
              transition: color 0.3s;
              &:hover {
                color: darkorange;
              }
            }
        }
      }
      @include mobile-all() {
        display: none;
      }
    }
    &__basket {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 200px;
      cursor: pointer;
      height: 84px;
      border-left: 1px solid $border-color;
      @media (min-width: 576px) and (max-width: 800px) {
        justify-content: flex-start;
      }
      @include mobile-all() {
        height: 60px;
        max-width: 100vw;
        border: none;
      }
      p {
        margin: 0;
        @include mobile-all() {
          display: none;
        }
      }
      img {
        @include mobile-all() {
          width: 30px;
          margin-right: 20px;
        }
      }

    }
  }
}


.containerLogo {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  height: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $bg-nav-color;
  width: 300px;
  //height: 600px;
  @include mobile-all() {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
  }
  &__hamburger {
    display: none;

    @include mobile-all() {
      display:  block !important;
      max-width: 30px;
      //width: 50%;
    }
    img {
      @include mobile-all() {
        width: 30px;
      }
    }
  }
  &__logo {
    box-sizing: border-box;
    padding: 20px;
    //margin: auto;
    width: 100%;
    //height: 500px;
    //background-color: pink;
    @include mobile-all() {
      max-width: 70px;
      width: 100%;
    }
    img {
      width: 100px;
      @include mobile-all() {
        max-width: 50px;
      }
    }
  }
}

.containerForm {
  position: fixed;
  z-index: 40;
  top: 85px;
  right: 2%;
  opacity: 1;
  transition: all 0.5s ease;
  transform: translateX(120%);
  //min-height: calc(100vh - #{$header-height}px);
  //overflow: hidden;
  //overflow-y: auto;
  @include mobile-all() {
    position: fixed;
    top: 60px;
    background-color: $bg-nav-color;
    right: 0;
    width: 100%;
    min-height: calc(100vh - #{$header-height}px);
    overflow: hidden;
    overflow-y: auto;
    transition: all 0.5s ;
  }
  &__form {
    background-color: $bg-nav-color;
    @include mobile-all() {
      width: 100%;
    }
  }



  form {
    display: block;
    ul {

      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;

      li {
        max-width: 450px;
        width: 100%;
        height: 85px;
        box-sizing: border-box;
        padding: 20px 60px;
        line-height: 40px;
        font-size: 20px;
        list-style-type: none;
        color: gray;
        @include mobile-all() {
          position: relative;
          top: 0;
          background-color: $bg-nav-color;
          right: 0;
          max-width: 100vw;
          width: 100%;
          //min-height: calc(100vh - #{$header-height-mob}px);
          //overflow: hidden;
          //overflow-y: auto;
          transition: all 0.5s ;
        }
        &:last-child {
          padding: 13px 60px;
        }
      }
      .products {
        display: none;
      }
      .allproducts {
        background-color: #bdbdbd;
      }
      .myBasket {
        transition: color 0.3s;
        cursor: pointer;
        &:hover {
          color: darkorange;
        }
      }
      .basketButton {
        cursor: pointer;
        background-color: orange;
        border: none;
        box-sizing: border-box;
        margin: auto 0;
        padding: 10px 20px;
        color: white;
        transition: background-color 0.3s;
        @include mobile-all() {
          padding: 0 10px;
        }
        &:hover {
          background-color: darkorange;
        }
      }
    }
  }
}
.showForm {
  transform: translateX(0);
}

.menuLeft {
  position: fixed;
  top: 170px;
  z-index: 30;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: $bg-nav-color;
  transition: all 0.5s;
  //max-height: calc(100vh - #{$header-height}px);
  //overflow: hidden;
  //overflow-y: auto;
  @include mobile-all() {
    position: relative;
    top: 60px;
    display: block;
    width: 100%;
    border-right: none;
    transform: translateX(-100%);
    max-height: calc(100vh - #{$header-height-mob}px);
    overflow: hidden;
    overflow-y: auto;
  }
  .nameMenu {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 60;
    border-bottom: 1px solid $border-color;
    background-color: $bg-nav-color;
    @include mobile-all() {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ingredient_btn {
      //border-right: 1px solid $border-color;
    }
    .section_btn, .ingredient_btn {
      font-weight: 600;
      width: 150px;
      justify-content: center;
      padding: 31px 20px;
      text-transform: uppercase;
      cursor: pointer;
      transition: color 0.4s;
      &:hover {
        color: darkorange;
      }
    }
    .activeBord {
      transition: opacity 0.4s;
      opacity: 1;
      border-bottom: 2px solid $border-bottom-orange;
    }
  }
  ul {
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
    @include mobile-all() {
      align-items: center;
      justify-content: center;
    }
    li {
      width: 300px;
      padding: 10px;
      list-style-type: none;
      @include mobile-all() {
        display: flex;
        width: 100%;
      }
      a {
        color: #0b0b0b;
        text-decoration: none;
        font-weight: 600;
        transition: color 0.3s;
        @include mobile-all() {
          margin: auto;
          width: 250px;
        }
        &:hover {
          color: darkorange;
        }
        span {
          margin-left: 20px;
        }
      }

    }
  }
}
//.showMenu {
//  @include mobile-all() {
//    transform: translateX(0);
//  }
//}
.sections_lists {
  display: flex;
  position: fixed;
  top: 255px;
  transition: transform 0.4s;
  transform: translateX(0);
}
.active {
  transform: translateX(-50%);
}
.sections_list {
  position: relative;
  left: 0;
  top: 0;
  background-color: $bg-nav-color;
  //border-right: 1px solid #a5a5a5;
  //transform: translateX(-100%);
  //width: 600px;
  height: calc(100vh - #{$header-height}px - #{$menuLeft-height}px);
  overflow: hidden;
  overflow-y: auto;
  @include mobile-all() {
    height: calc(100vh - #{$header-height}px + 282px);
    overflow: hidden;
    overflow-y: auto;
  }
}

.ingredients_list {
  background-color: $bg-nav-color;
  //border-right: 1px solid #a5a5a5;
  position: relative;
  transition:  all 0.3s;
  height: calc(100vh - #{$header-height}px - #{$menuLeft-height}px);
  overflow: hidden;
  overflow-y: auto;
  @include mobile-all() {
    width: 100%;
    height: calc(100vh - #{$header-height}px + 63px);
    overflow: hidden;
    overflow-y: auto;
  }

  .nameMenu {
    margin-top: 0;
  }
}

.footer {
  display: block;

  @include mobile-all() {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 20;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    transform: translateX(0);
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: $bg-nav-color;
    box-sizing: border-box;
    padding: 10px 0;
    &__text {
      margin: 10px 10px;
      &__img {
        display: flex;
        justify-content: center;
        img {
          width: 50px;
          height: 50px;
          margin-bottom: 20px;
        }
      }
      &__orders {
        p {
          margin-bottom: 20px;
        }
      }
        @include mobile-all() {
          display:  none !important;
        }
    }
    &__menu {
      margin: 10px 10px;
      p {
        margin-bottom: 5px;
        color: gray;
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        li {
          padding: 10px 10px 10px 0;
          list-style-type: none;
          a {
            color: #0b0b0b;
            text-decoration: none;
            transition: color 0.3s;
            &:hover {
              color: darkorange;
            }
          }
        }
      }
      @include mobile-all() {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 30px 20px;
        position: absolute;
        width: 100vw;
        height: auto;
        margin: 100px 0 0 -300px;
        font-size: 1.5rem;
        line-height: 50px;
        letter-spacing: 3px;
        background-color: $bg-nav-color;
        ul {
          li {
            display: block;
            a {
              text-align: center;
              border-bottom: 2px solid $border-color;
            }
          }
        }
        p {
          display: block;
        }
      }
    }
    &__delivery {
      margin: 10px 10px 0;
      p {
        margin-bottom: 5px;
        color: gray;
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        li {
          padding: 10px 10px 10px 0;
          list-style-type: none;
          a {
            color: #0b0b0b;
            text-decoration: none;
            transition: color 0.3s;
            &:hover {
              color: darkorange;
            }
          }
        }
      }
      @include mobile-all() {
        display:  none !important;
      }
    }
  }
  &__copyright {
    display: flex;
    width: 100%;
    height: 5%;
    background-color: $bg-nav-color;
    @include mobile-all() {
      display: none;
    }
    div {
      margin: auto;
    }

  }
}



.menuRight {
  display: flex;
  flex-direction: column;

}

main {
  position: absolute;
  z-index: 40;
  border-left: 1px solid #a5a5a5;
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  width: calc(100vw - 317px);
  .content {
    .menuRight {
      .slider {
        @include mobile-all() {
          display: none;
        }
        a {
          img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
          }
        }
      }
    }
  }
}


//position: relative;
//top: 72px;
//left: 300px;
//z-index: 2;
//margin-left: 300px;
//max-width: calc(100vw - 317px);
//width: 100%;
//          overflow: hidden;
//@include mobile-all() {
//  display: none;
//}